# ENV
.env
*.env
env/

# FOLDERS
node_modules/
scripts/
tests/*/*
resources/
rethink/*
lib/*

# FILES
config.js
index.js
!src/models/index.js
!src/index.js
!src/routes/index.js
package-lock.json
psql-setup.sql
words_alpha.txt
*.svg
*.png

src/utils/segregate.js

# INCLUDING TESTS
!tests/simple/*
!tests/data/*
