# ENV
.env
env/

# FOLDERS
node_modules/
scripts/
tests/
resources/

# FILES
config.js
index.js
!src/models/index.js
!src/index.js
package-lock.json
psql-setup.sql
words_alpha.txt
*.svg
*.png

src/utils/segregate.js
